@page "/"
@using Website.Components

<h1>Pedro Miguel Gaspar Pedroso</h1>
<br />

<p>
    I'm a software developer with a Computer Science License at <a href="https://www.isel.pt/en/">Instituto Superior de Engenharia de Lisboa (ISEL)</a>.<br />
    Currently working at <a href="https://www.intersurgical.com/">Intersurgical</a> as a Full Stack Developer.
</p>
<p>Find me at pedroso_pedro at hotmail.com</p>

<QuickLinks></QuickLinks>

@code {
    
}
