@page "/"


<h1>Pedro Miguel Gaspar Pedroso</h1>
<br/>

<p>
Software engineer developer from <a href="https://www.isel.pt/en/">Instituto Superior de Engenharia de Lisboa (ISEL)</a>.<br/>
Currently working at <a href="https://www.intersurgical.com/">Intersurgical</a> IT team.
</p>
<p>Find me at pedroso_pedro at hotmail.com</p>


<br/>
<br/>
<br/>

 <div class="text-right footer">
    <a href="https://github.com/PPedroso">
        <img class="icon" src="./media/Octocat.png">
    </a>
    <a href="https://www.codewars.com/users/PPedroso">
        <img class="icon" src="./media/codewars.svg">
    </a>
    <a href="https://www.linkedin.com/in/pedro-pedroso-89951175/">
        <img class="icon" src="./media/linkedin.png">
    </a>
  </div>

    <style>
        .icon {
            width: 25px;
            height: 25px;
        }

        .footer {
            width:100%;
            position:absolute;
            bottom:20px;
            right:20px;
        }
    </style>

@code {

}


