@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="container">
            @Body
    </div>
</div>

<style>

.container {
    padding-top: 100px;
}
</style>

