@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        @* <NavMenu /> *@
    </div>

    <div class="container">

        <head>

        </head>

        @Body
    </div>
</div>

<style>
    .container {
        padding-top: 100px;
    }
</style>
