
<ul class="nav flex-column">
    <li class="nav-item px-1">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true" title="Home"></span>
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="TwitterScraper" Match="NavLinkMatch.All">
            <span class="oi oi-transfer" aria-hidden="true" title="Twitter Scraper"></span>
        </NavLink>
    </li>
</ul>


@code {
  
}
