

<div class="text-right footer">
    <a href="https://github.com/PPedroso">
        <img class="icon" src="./media/Octocat.png">
    </a>
    <a href="https://www.codewars.com/users/PPedroso">
        <img class="icon" src="./media/codewars.svg">
    </a>
    <a href="https://www.linkedin.com/in/pedro-pedroso-89951175/">
        <img class="icon" src="./media/linkedin-svgrepo.svg">
    </a>
</div>

<style>
    .icon {
        width: 25px;
        height: 25px;
    }

    .footer {
        width: 100%;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
</style>

@code {

}
