@page "/TwitterScraper"
@using HtmlAgilityPack

<label>Insert twitter handle to scrape!</label>
<input type="text" @oninput="@(e => twitterHandle = e.Value.ToString())" />
<input type="button" value="Scrape!" @onclick="Scrape" />
<div>
    @htmlContent
</div>

@code {
    /*
    * 1- Validate handle
    * 2- Perform GET request to get html content
    * 3- Filter html content
    * 4- Insert content in div
    */

    string htmlContent = "Content will appear here!";
    string twitterHandle;

    private void Scrape()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, $"https://twitter.com/{twitterHandle}");

        using (var httpClient = new HttpClient())
        {
            httpClient.SendAsync(request).ContinueWith((content) =>
            {
                content.Result.Content.ReadAsStringAsync().ContinueWith((s) => htmlContent = s.Result);
            });
        }
    }
}
